@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;600&display=swap');

/* Prevent auto-linking of phone numbers and email addresses */
a[href^="tel"],
a[href^="mailto"] {
    text-decoration: none; /* Remove underlines */
    color: inherit; /* Use the default text color */
}

.anchor {
    display: block;
    margin-top: 0.6rem;
    visibility: hidden;
}

* {
    font-family: "acumin-pro", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.8rem;
}

body {
    background-size: 50%;
    background-repeat: inherit;
    background-color: rgb(52, 52, 52);
}

p, a, li {
    font-size: 0.8rem
}

.background {
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    padding: 0 9.5%;
}

.col-a {
    width: 23%;
    color: rgb(81, 81, 81);
}
.col-b {
    width: 39%;
    color: rgb(245, 245, 245);
}
.col-c {
    width: 33%;
    color: rgb(81, 81, 81);
    margin-left: auto;
}

.justify-text {
    text-align: justify;
}

.justify-text-last {
    text-align: justify;
    text-align-last: justify;
}

.white-link a {
    color: white;
}

.grey-link a {
    color: rgb(81, 81, 81);
}

.interception {
    background-image: url('https://res.cloudinary.com/dyve8u6cx/image/upload/v1702347240/interception1_aixcgj.png');
    background-size: 100%;
    background-repeat: repeat;
}

.elm-surfaces-bg {
    background-image: url('https://res.cloudinary.com/dwadiagkb/image/upload/v1732056321/Elm_Surfaces_dujbk8.png');
    background-size: 100%;
    background-repeat: no-repeat;
}

/* Style the section and make it relative for positioning */
.video-section {
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 100vh; /* Adjust the height as needed */
}

/* Style the video element */
#background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Adjust video sizing as needed */
    z-index: -1; /* Place video behind content */
}

/* Style the content within the section */
.content {
    position: relative;
    z-index: 1; /* Place content in front of the video */
    padding: 20px; /* Adjust padding as needed */
    color: #fff; /* Set text color */
}

/* Loading screen styles */
.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #080808;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

/* Loading bar styles (keep your original styles) */
.loader {
    height: 4px;
    width: 130px;
    background: #454545;
}

.loader-bar {
    height: 100%;
    width: 0;
    background-color: #ffffff;
    transition: width 0.3s ease-in-out;
}

/* Loading text styles */
.loader p {
    color: white;
}

/* from ipad view to large desktop */
@media screen and (min-width: 650px){
    p, a, li, div, span {
        font-size: 1rem
    }

    .content {
        padding: 0px 0 0 0;
    }

    .background {
        background-size: 40%;
        background-position: top center;
        width: 100%;
    }
    .interception {
        background-image: url('https://res.cloudinary.com/dyve8u6cx/image/upload/v1702347240/interception1_aixcgj.png');
        background-size: 40%;
        background-repeat: repeat-y;
        background-position: top center;
    }

    .elm-surfaces-bg {
        background-image: url('https://res.cloudinary.com/dwadiagkb/image/upload/v1732056321/Elm_Surfaces_dujbk8.png');
        background-size: 40%;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .video-section {
        width: 100%;
        min-height: 100%;
    }

    #background-video {
        position: fixed;
        left: 0;
        width: 100%; /* Adjust video sizing as needed */
        z-index: -1; /* Place video behind content */
        top: 60%;
        transform: translateY(-60%);
    }
    .mobile-display {
        display: none;
    }

    .cover {
        margin-top: 10px;
    }
}

@media screen and (min-width: 650px) and (max-width: 1100px) {
    .background {
        background-size: 70%;
        background-position: top center;
        width: 100%;
    }
    .interception {
        background-image: url('https://res.cloudinary.com/dyve8u6cx/image/upload/v1702347240/interception1_aixcgj.png');
        background-size: 70%;
        background-repeat: repeat-y;
        background-position: top center;
    }

    .elm-surfaces-bg {
        background-image: url('https://res.cloudinary.com/dwadiagkb/image/upload/v1732056321/Elm_Surfaces_dujbk8.png');
        background-size: 70%;
        background-repeat: no-repeat;
        background-position: center;
    }
    .container {
        padding: 0 21.65%;
    }
    
}

@media screen and (min-width: 1101px){
    .container {
        padding: 0 33.8%;
    }
    
}

@media screen and (min-width: 576px) {
    .container {
        max-width: none;
    }
}
